@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@font-face {
    font-family: 'Barkentina 1';
  src: url("../fonts/Barkentina 1.eot");
  src: local("☺"), url("../fonts/Barkentina 1.woff") format("woff"), url("../fonts/Barkentina 1.ttf") format("truetype"), url("../fonts/Barkentina 1.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'AkzidenzGrotesk-BoldCond';
  src: url("../fonts/AkzidenzGrotesk-BoldCond.eot");
  src: local("☺"), url("../fonts/AkzidenzGrotesk-BoldCond.woff") format("woff"), url("../fonts/AkzidenzGrotesk-BoldCond.ttf") format("truetype"), url("../fonts/AkzidenzGrotesk-BoldCond.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

*:focus, *:active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

a {
    color: inherit;
}

aside, nav, footer, header, section {
    display: block;
}

html, body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-size: 14px;
    font-family: "Open Sans";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: "Open Sans";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    color: #000;
    font-size: 14px;
}

body.lock {
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 1182px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
}

.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ibg img {
    display: none;
}

:focus {
    text-decoration: none;
}

.slick-slider {
    position: relative;
}

.slick-slider .slick-list {
    overflow: hidden;
}

.slick-slider .slick-track {
    display: flex;
    font-size: 0;
    align-items: flex-start;
}

.slick-slider .slick-dots {
    padding: 100px 0px 0px 0px;
    display: flex;
    font-size: 0;
    justify-content: center;
    align-items: center;
}

.slick-slider .slick-dots li {
    margin: 0px 5px;
}

.slick-slider .slick-dots li button {
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #c8c8c8;
    background-color: transparent;
}

.slick-slider .slick-dots li.slick-active button {
    background-color: #a9afb3;
}

@media (max-width: 1100px) {
    .slick-slider .slick-dots {
        padding: 50px 0px 0px 0px;
    }
}

@media (max-width: 767px) {
    .slick-slider .slick-dots {
        padding: 30px 0px 0px 0px;
    }
}

.btn {
    height: 50px;
    display: inline-block;
    line-height: 50px;
    color: #fff;
    width: 150px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #000;
    padding: 0px 33px;
}

.btn--w {
    background-color: #fff;
    color: #000;
}

.btn--b {
    background-color: #28a7e8;
    color: #fff;
}

.input {
    border-radius: 0 !important;
    width: 100%;
    display: block;
    padding: 0px 18px;
    height: 50px;
    border: 2px solid #959595;
    background-color: #252525;
    color: #959595;
    font-size: 15px;
}

.input.err {
    border: 2px solid red;
}

textarea.input {
    height: 100px;
    padding: 10px 18px;
}

.header__body {
    display: flex;
    font-size: 0;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767.98px) {
    .header__body {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.header__logo {
    width: 300px;
}

@media (max-width: 991.98px) {
    .header__logo {
        width: 230px;
    }
}

@media (max-width: 767.98px) {
    .header__logo {
        width: 200px;
        margin: 0px 0px 8px 0px;
    }
}

.header__menu-list {
    display: flex;
    font-size: 0;
    justify-content: center;
}

.header__menu-list li {
    margin: 0px 20px 0px 0px;
}

@media (max-width: 991.98px) {
    .header__menu-list li {
        margin: 0px 10px 0px 0px;
    }
}

.header__menu-item {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    display: block;
    line-height: 28px;
    transition: all 0.3s ease 0s;
}

.header__menu-item:before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    background-color: #bb3536;
    transition: all 0.3s ease 0s;
    top: 0;
}

.header__menu-item:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    background-color: #bb3536;
    transition: all 0.3s ease 0s;
    bottom: 0;
}

.header__menu-item:hover {
    color: #bb3536;
}

.header__menu-item:hover:after {
    left: 0;
    width: 100%;
}

.header__menu-item:hover:before {
    left: 0;
    width: 100%;
}

@media (max-width: 991.98px) {
    .header__menu-item {
        line-height: 20px;
        font-size: 17px;
    }
}

@media (max-width: 767.98px) {
    .header__menu-item {
        font-size: 15px;
    }
}

.header__contacts {
    line-height: 20px;
    font-size: 20px;
}

@media (max-width: 991.98px) {
    .header__contacts {
        font-size: 17px;
    }
}

@media (max-width: 767.98px) {
    .header__contacts {
        margin: 8px 0px 0px 0px;
        font-size: 15px;
    }
}

.header__contacts-number {
    display: block;
    margin: 0px 0px 10px 0px;
    padding: 3px 0px 3px 30px;
    background: url("../img/header/phone-call.png") left no-repeat;
}

.header__contacts-number:hover {
    color: #bb3536;
}

.main {
    position: relative;
    z-index: 10;
}

.main__image {
    height: 80vh;
}

.main__image:before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.main__text {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Barkentina 1';
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    z-index: 10;
}

.main__text-title {
    text-align: center;
    color: #8cbaeb;
    margin: 30px 0px 0px 0px;
    font-size: 40px;
    z-index: 10;
}

@media (max-width: 767.98px) {
    .main__text-title {
        font-size: 30px;
        margin: 20px 0px 0px 0px;
    }
}

@media (max-width: 479.98px) {
    .main__text-title {
        font-size: 25px;
        margin: 5px 0px 0px 0px;
    }
}

.main__text-desc {
    position: absolute;
    top: 100px;
    right: 100px;
    max-width: 500px;
    text-align: center;
    z-index: 10;
}

@media (max-width: 767.98px) {
    .main__text-desc {
        position: static;
        text-align: center;
        font-size: 16px;
        margin: 20px 0px 0px 0px;
    }
}

@media (max-width: 479.98px) {
    .main__text-desc {
        margin: 5px 0px 0px 0px;
    }
}

.benefits__body {
    display: flex;
    font-size: 0;
    justify-content: space-around;
}

.item-benefits {
    display: flex;
    font-size: 0;
    flex-direction: column;
    align-items: center;
}

.item-benefits__icon {
    border-radius: 50%;
    border: 2px #b84747 solid;
    width: 100px;
    height: 100px;
    display: flex;
    font-size: 0;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.item-benefits__icon img {
    width: 50px;
    height: 50px;
}

.item-benefits__descr {
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: #000;
    max-width: 200px;
}

@media (max-width: 767.98px) {
    .item-benefits__descr {
        max-width: 140px;
        font-size: 15px;
    }
}

.benefits__social {
    background-color: #f5f5f5;
}

.benefits__social-title {
    margin: 30px 0px 0px 0px;
}

.benefits__social-wrapper {
    display: flex;
    font-size: 0;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 30px 0px;
}

.benefits__social-fb {
    height: 50px;
    width: 50px;
    margin: 0px 20px 0px 0px;
}

.benefits__social-ins {
    height: 50px;
    width: 50px;
}

.services__list {
    font-size: 20px;
    line-height: 40px;
}

@media (max-width: 767.98px) {
    .services__list {
        font-size: 16px;
        line-height: 30px;
    }

    .services__list li {
        margin: 0px 0px 5px 0px;
    }
}

@media (max-width: 479.98px) {
    .services__list {
        font-size: 14px;
    }
}

.services__list li {
    padding: 0px 0px 0px 40px;
    background: url("../img/services/outpu.png") left no-repeat;
}

@media (max-width: 767.98px) {
    .services__list li {
        padding: 0px 0px 0px 30px;
        background: url("../img/services/correct24.png") left no-repeat;
    }
}

.price {
    background-color: #f5f5f5;
}

.candi-bar__list {
    font-size: 20px;
    line-height: 40px;
}

@media (max-width: 767.98px) {
    .candi-bar__list {
        font-size: 16px;
        line-height: 30px;
    }
}

@media (max-width: 479.98px) {
    .candi-bar__list {
        font-size: 14px;
    }
}

.candi-bar__list li {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 40px;
}

.candi-bar__list li:nth-child(even) {
    background-color: #fff;
}

@media (max-width: 767.98px) {
    .candi-bar__list li {
        padding: 0px 3px 0px 30px;
    }
}

.candi-bar__list li span:last-child {
    flex: 0 0 auto;
    margin: 0px 0px 0px 10px;
}

.candi-bar__list li span:first-child {
    flex: 1 1 auto;
    max-width: 600px;
}

.price__candy-bar {
    margin: 0px 0px 40px 0px;
}

.price__cakes {
    margin: 0px 0px 40px 0px;
}

.price__balloons {
    margin: 0px 0px 40px 0px;
}

.candi-bar__list li {
    background: url("../img/price/patisserie32.png") left no-repeat;
}

@media (max-width: 767.98px) {
    .candi-bar__list li {
        background: url("../img/price/patisserie24.png") left no-repeat;
    }
}

.cakes-price__list li {
    background: url("../img/price/piece-of-cake32.png") left no-repeat;
}

@media (max-width: 767.98px) {
    .cakes-price__list li {
        background: url("../img/price/piece-of-cake24.png") left no-repeat;
    }
}

.balloons-price {
    padding: 0px 0px 10px 0px;
}

.balloons-price__list li {
    background: url("../img/price/birthday32.png") left no-repeat;
}

@media (max-width: 767.98px) {
    .balloons-price__list li {
        background: url("../img/price/birthday24.png") left no-repeat;
    }
}

.gallary {
    margin: 0px 0px 40px 0px;
}

.gallary__body {
    display: flex;
    font-size: 0;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    flex: 0 0 25%;
    flex-wrap: wrap;
}

.gallary__item {
    padding-left: 5px;
    height: 120px;
    width: 120px;
    overflow: hidden;
    margin: 0px 0px 5px 0px;
}

@media (max-width: 767.98px) {
    .gallary__item {
        height: 100px;
        width: 100px;
    }
}

.contacts {
    margin: 0px 0px 20px 0px;
    background: #f5f5f5;
}

.contacts__body {
    display: flex;
    font-size: 0;
    justify-content: center;
    margin: 0px 0px 0px -15px;
}

.contacts__item {
    padding: 0px 0px 0px 15px;
    width: 80px;
    height: 80px;
}

.footer__body {
    display: flex;
    font-size: 0;
    justify-content: center;
}

.footer__column {
    flex: 0 0 33.333%;
    display: flex;
    font-size: 0;
    flex-direction: column;
    align-items: center;
}

.item-org__name {
    font-size: 20px;
}

.item-logo__logo {
    width: 300px;
    margin: 0px 0px 10px 0px;
}

.item-logo__social {
    text-align: center;
    margin: 0px 0px 10px 0px;
    display: flex;
    font-size: 0;
    justify-content: center;
}

.item-logo__social a {
    margin: 0px 0px 0px 5px;
}

.item-logo__name {
    font-family: 'Barkentina 1';
    font-size: 14px;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.item-logo__copyright {
    font-size: 14px;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    text-align: center;
    color: #8cbaeb;
    padding: 10px 0px 20px 0px;
    font-size: 40px;
    font-family: 'Barkentina 1';
}

@media (max-width: 767.98px) {
    .title {
        font-size: 30px;
    }
}

@media (max-width: 479.98px) {
    .title {
        font-size: 25px;
    }
}

.body-list {
    display: flex;
    font-size: 0;
    justify-content: center;
}

.subtitle {
    position: relative;
    line-height: 20px;
    font-size: 22px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 767.98px) {
    .subtitle {
        font-size: 18px;
    }
}

@media (max-width: 479.98px) {
    .subtitle {
        font-size: 15px;
    }
}

.subtitle:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: -10px;
    left: 50%;
    margin: 0px 0px 0px -250px;
    width: 500px;
    height: 2px;
    background: #000;
}

@media (max-width: 767.98px) {
    .subtitle:before {
        width: 250px;
        margin: 0px 0px 0px -125px;
    }
}

.subtitle--important {
    color: red;
    text-transform: none;
}

.subtitle--important:before {
    content: none;
}
